.jumbotron {
    background-color: rgb(150, 183, 245);
    color: black;
}

.card-herramientas{
flex: 1 150px;
padding: 2px 5px 2px 5px;
margin-top: 20px;
}

.btn-herramienta{
    width: 100%;
}

footer{
    padding: 20px 10px 20px 10px;
    background-color: rgb(150, 183, 245);
    margin-top: 40px;
    margin-bottom: 0px;
}